.typing-animation {
  display: inline-block;
  min-height: 1.5em;
}

.typing-cursor {
  display: inline-block;
  width: 2px;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
  color: #60a5fa;
  font-weight: 400;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
